@model IEnumerable<Nama.Models.Noticia>


<div data-css_id="tb_23o1278" data-lazy="1"
	class="themify_builder_row module_row builder-parallax-scrolling fullwidth_row_container tb_23o1278 clearfix">
	<div class="tf_abs builder_row_cover" style="
    background-image: linear-gradient(
180deg, #fff 0%, #fff 14%, rgba(255, 255, 255, .94) 27%, rgba(255, 255, 255, .87) 38%, rgba(255, 255, 255, .79) 47%, rgba(255, 255, 255, .63) 60%, rgba(255, 255, 255, .57) 85%, rgba(255, 255, 255, .10) 100%);
"></div>
	<div class="row_inner col_align_top tf_box tf_w tf_rel">
		<div data-lazy="1" class="module_column tb-column col-full first tb_u6uo280 repeat tf_box">
			<div class="tb-column-inner tf_box tf_w">
				<!-- module text -->
				<div class="module module-text tb_a840802   " data-lazy="1" style="padding-right: 20%;">
					<div class="tb_text_wrap" style="text-align: left;">
						<p>Hacia un transporte urbano sostenible, accesible, seguro y confiable, esencial para reducir
							las emisiones de Gases de Efecto Invernadero (GEI)</p>
					</div>
				</div>
				<!-- /module text -->
				<!-- module text -->
				<div class="module module-text tb_jaep295   " data-lazy="1">
					<div class="tb_text_wrap">
						<h4 style="text-transform: none;text-align: right;">
							Revisa los avances en la implementación de la NAMA TRANSPerú</h4>
					</div>
				</div>
				<!-- /module text -->
				<!-- module buttons -->
				<div class="module module-buttons tb_dwdo959 buttons-horizontal solid  small rounded" data-lazy="1"
					style="text-align: right;">
					<div class="module-buttons-item tf_inline_b">
						<a href="/home/menu" class="ui builder_button red">
							<i class="tf_inline_b tf_vmiddle"><svg class="tf_fa tf-ti-arrow-right">
									<use href="#tf-ti-arrow-right"></use>
								</svg></i> <span class="tf_inline_b tf_vmiddle">MRV</span>
						</a>
					</div>
				</div>
				<!-- /module buttons -->
			</div>
		</div>
	</div>
	<!-- /row_inner -->
</div>
<!-- /module_row -->
<!-- module_row -->
<div data-css_id="tb_qd5q482" data-lazy="1" class="themify_builder_row module_row repeat tb_qd5q482 clearfix">
	<div class="row_inner col_align_top tf_box tf_w tf_rel">
		<div data-lazy="1" class="module_column tb-column col-full first tb_bs7l485 tf_box">
			<div class="tb-column-inner tf_box tf_w">
				<!-- module menu -->
				<div class="module module-menu tb_sqes194  mobile-menu-slide tf_textc"
					data-menu-style="mobile-menu-slide" data-menu-breakpoint="0" data-element-id="tb_sqes194"
					data-lazy="1">


					<div class="module-menu-container tf_textc">
						<ul id="menu-secciones-home" class="ui clearfix nav tf_rel fullwidth tb_default_color ">
							<li id="menu-item-3726"
								class="menu-item-custom-3726 menu-item menu-item-type-custom menu-item-object-custom   menu-item-home menu-item-3726">
								<a href="#nosotros" aria-current="page">NAMA TRANS Perú</a>
							</li>
							<li id="menu-item-3730"
								class="menu-item-custom-3730 menu-item menu-item-type-custom menu-item-object-custom   menu-item-home menu-item-3730">
								<a href="#actividades_en_ejecucion" aria-current="page">Actividades en Ejecución</a>
							</li>
							<li id="menu-item-3731"
								class="menu-item-custom-3731 menu-item menu-item-type-custom menu-item-object-custom   menu-item-home menu-item-3731">
								<a href="#ultimas_noticias" aria-current="page">Últimas Noticias</a>
							</li>
							<li id="menu-item-4005"
								class="menu-item-custom-4005 menu-item menu-item-type-custom menu-item-object-custom   menu-item-home menu-item-4005">
								<a href="#publicaciones" aria-current="page">Publicaciones</a>
							</li>
							<li id="menu-item-3732"
								class="menu-item-custom-3732 menu-item menu-item-type-custom menu-item-object-custom   menu-item-home menu-item-3732">
								<a href="#contacto" aria-current="page">Contacto</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- /module menu -->
			</div>
		</div>
	</div>
	<!-- /row_inner -->
</div>
<!-- /module_row -->
<!-- module_row -->
<div data-css_id="tb_crm0404" data-lazy="1"
	class="themify_builder_row module_row repeat fullwidth_row_container tb_crm0404 clearfix">
	<div class="row_inner col_align_middle gutter-none tf_box tf_w tf_rel">
		<div data-lazy="1" style="width: 31%" class="module_column tb-column col3-1 first tb_rzrg406 tf_box">
			<div class="tb-column-inner tf_box tf_w">
				<!-- module image -->
				<div class="module module-image tb_x7gf321   image-center tf_mw" data-lazy="1">
					<div class="image-wrap tf_rel tf_mw">
						<img data-tf-not-load="1" src="/assets/images/img/personaje-intitucioal-varon.png" width="60%"
							height="454" class="wp-post-image wp-image-3953"
							title="persona (varon) apuntando medio cuerpo" alt="persona (varon) apuntando medio cuerpo"
							sizes="(max-width: 240px) 100vw, 240px" />
					</div>
					<!-- /image-wrap -->


				</div>
				<!-- /module image -->
			</div>
		</div>
		<div data-lazy="1" style="width: 38%" class="module_column tb-column col3-1 middle tb_mveq23 repeat tf_box">
			<div class="tb-column-inner tf_box tf_w">
				<!-- module text -->
				<div class="module module-text tb_chgy309   " data-lazy="1">
					<div class="tb_text_wrap">
						<p>Imaginemos un transporte urbano sostenible en Perú</p>
					</div>
				</div>
				<!-- /module text -->
				<!-- module text -->
				<div class="module module-text tb_g4g8407  repeat " data-lazy="1">
					<div class="tb_text_wrap">
						<p>¿Cómo se hace realidad?</p>
					</div>
				</div>
				<!-- /module text -->
			</div>
		</div>
		<div data-lazy="1" style="width: 31%" class="module_column tb-column col3-1 last tb_4se758 tf_box">
			<div class="tb-column-inner tf_box tf_w">
				<!-- module image -->
				<div class="module module-image tb_ze7e32   image-center tf_mw" data-lazy="1">
					<div class="image-wrap tf_rel tf_mw">
						<img decoding="async" loading="lazy" src="/assets/images/img/personaje-intitucioal-mujer.jpg"
							width="50%" height="446" class="wp-post-image wp-image-3955"
							title="persona (mujer) apuntando medio cuerpo" alt="persona (mujer) apuntando medio cuerpo"
							sizes="(max-width: 270px) 100vw, 270px" />
					</div>
					<!-- /image-wrap -->


				</div>
				<!-- /module image -->
			</div>
		</div>
	</div>
	<!-- /row_inner -->
</div>
<!-- /module_row -->
<!-- module_row -->
<div data-css_id="tb_6wry719" id="nosotros" data-lazy="1"
	class="themify_builder_row module_row builder-parallax-scrolling tb_6wry719 clearfix">
	<div class="tf_abs builder_row_cover" style="background-color: rgba(255, 255, 255, .83);"></div>
	<div class="row_inner col_align_top tf_box tf_w tf_rel">
		<div data-lazy="1" class="module_column tb-column col-full first tb_ko33721 tf_box">
			<div class="tb-column-inner tf_box tf_w">
				<!-- module text -->
				<div class="module module-text tb_jq7m721  repeat " data-lazy="1">
					<div class="tb_text_wrap">
						<p>NAMA TRANSPerú</p>
					</div>
				</div>
				<!-- /module text -->
				<!-- module divider -->
				<div class="module tf_mw module-divider tb_wa0q722 solid  divider-custom divider-left"
					style="border-width: 6px;border-color: #ea0001;margin-top: -30px;width: 150px;" data-lazy="1">
				</div>
				<!-- /module divider -->
				<!-- module text -->
				<div class="module module-text tb_ssad722  repeat " data-lazy="1">
					<div class="tb_text_wrap">
						<p>NAMA de Transporte Urbano Sostenible del Perú</p>
					</div>
				</div>
				<!-- /module text -->
				<!-- module text -->
				<div class="module module-text tb_3wg7723  repeat " data-lazy="1">
					<div class="tb_text_wrap">
						<p>Una Acción de Mitigación Nacionalmente Apropiada (NAMA, por sus siglas en inglés) se refiere
							a todas aquellas acciones que realizan los países en vías de desarrollo que tienen como
							finalidad reducir importantes cantidades de emisiones de gases de efecto invernadero (GEI) y
							que se preparan bajo iniciativas nacionales de gobierno.</p>
						<p>En el sector de Transporte Urbano, en marzo de 2021, bajo el liderazgo del Ministerio de
							Transporte y Comunicaciones (MTC), con la participación de la Municipalidad Metropolitana de
							Lima (MML), de la Autoridad de Transporte Urbano para Lima y Callao (ATU), del Ministerio de
							Economía y Finanzas (MEF), del Ministerio de Energía y Minas (MINEM), del Ministerio de
							Vivienda, Construcción y Saneamiento (MVCS) y del Ministerio del Ambiente (MINAM), se aprobó
							la matriz NAMA de Transporte Urbano Sostenible del Perú (NAMA TRANSPerú) compuesta por 53
							actividades estratégicas que permitirán la mitigación de los Gases de Efecto Invernadero
							(GEI). </p>
						<p>Con las acciones planteadas en la matriz NAMA TRANSPerú se espera reducir XX gigatoneladas de
							CO2 equivalente en Lima y Callao y XX gigatoneladas de CO2 equivalente en provincias hasta
							el año 2025.</p>
					</div>
				</div>
				<!-- /module text -->
			</div>
		</div>
	</div>
	<!-- /row_inner -->
</div>

<div data-css_id="tb_wfr3637" data-lazy="1"
	class="themify_builder_row module_row builder-parallax-scrolling tb_wfr3637 clearfix" style="margin-top: 0%;">
	<div class="tf_abs builder_row_cover" style="background-color: rgba(51, 51, 51, .93);"></div>
	<div class="row_inner col_align_top tf_box tf_w tf_rel">
		<div data-lazy="1" class="module_column tb-column col-full first tb_l9yi639 tf_box">
			<div class="tf_abs builder_row_cover" style="background-color: rgba(51, 51, 51, .00);"></div>
			<div class="tb-column-inner tf_box tf_w">
				<!-- module text -->
				<div class="module module-text tb_5d77273   " data-lazy="1">
					<div class="tb_text_wrap">
						<p>Adoptar nuevas medidas en el transporte urbano para combatir
							el cambio climático y sus consecuencias.</p>
					</div>
				</div>
				<!-- /module text -->
			</div>
		</div>
	</div>
	<!-- /row_inner -->
</div>

<!-- /module_row -->
<!-- module_row -->
<div data-css_id="tb_puv3129" id="actividades_en_ejecucion" data-lazy="1"
	class="themify_builder_row module_row repeat fullwidth_row_container tb_puv3129 clearfix">
	<div class="row_inner col_align_top tf_box tf_w tf_rel">
		<div data-lazy="1" class="module_column tb-column col-full first tb_cfqe130 tf_box">
			<div class="tb-column-inner tf_box tf_w">
				<!-- module text -->
				<div class="module module-text tb_fnyl130  repeat " data-lazy="1">
					<div class="tb_text_wrap">
						<p>Actividades en Ejecución</p>
					</div>
				</div>
				<!-- /module text -->
				<!-- module divider -->
				<div class="module tf_mw module-divider tb_66ev832 solid  divider-custom divider-left"
					style="border-width: 6px;border-color: #ea0001;margin-top: -30px;width: 150px;" data-lazy="1">
				</div>
				<!-- /module divider -->
			</div>
		</div>
	</div>
	<!-- /row_inner -->
</div>

<!-- /module_row -->
								<!-- module_row -->
								<div data-css_id="tb_3rp685"
									class="themify_builder_row module_row builder-parallax-scrolling tb_3rp685 clearfix"
									style="background-position-y: 22px; padding-top: 7%;">
									<div class="row_inner col_align_top tf_box tf_w tf_rel">
										<div class="module_column tb-column col-full tb_77hr85 tf_box last">
											<div class="tb-column-inner tf_box tf_w">
												<div
													class="module clearfix themify_builder_slider_wrap module-slider tb_a08s739 slider-default">
													<div class="themify_builder_slider tf_carousel swiper-container tf_rel tf_overflow swiper-container-initialized swiper-container-horizontal"
														data-tbreakpoints="1024" data-mbreakpoints="600"
														data-visible="3" data-tab-visible="2" data-mob-visible="1"
														data-scroll="1" data-auto="2000" data-controller="0"
														data-pause_hover="1" data-speed="1" data-wrapvar="1"
														data-slider_nav="1" data-pager="1" data-effect="cover"
														data-height="auto" data-horizontal="0"
														data-css_url="/themify-builder/css/carousel.css,/themify-builder/css/slider.min.css,/themify-ultra/themify/css/swiper/swiper.min.css">
														<div class="swiper-wrapper tf_rel tf_w tf_h tf_textc"
															style="transition-duration: 0ms; transform: translate3d(-2320px, 0px, 0px);">
															<div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next"
																data-swiper-slide-index="4" style="width: 386.667px;">
																<div class="slide-inner-wrap"
																	style="margin-left:10px;margin-right:10px;">
																	<div class="tf_rel slide-image">
																		<a href="https://www.atu.gob.pe/corredor-complementario/"
																			alt="Segregación de Corredores Complementarios en Lima y Callao"
																			target="_blank" rel="noopener">
																			<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
																				decoding="async" data-lazy="1"
																				data-tf-src="/assets/images/img/a6-1.png"
																				width="400" height="400"
																				alt="Segregación de Corredores Complementarios en Lima y Callao"
																				data-pagespeed-url-hash="1859759222"
																				onload="pagespeed.CriticalImages.checkImageForCriticality(this);"><noscript><img
																					data-tf-not-load
																					src="/assets/images/img/a6-1.png"
																					width="400" height="400"
																					alt="Segregación de Corredores Complementarios en Lima y Callao"
																					data-pagespeed-url-hash="1098695238"></noscript>
																		</a>
																	</div><!-- /slide-image -->

																	<div class="slide-content tb_text_wrap">

																		<h3 class="slide-title">
																			<a href="https://www.atu.gob.pe/corredor-complementario/"
																				target="_blank"
																				rel="noopener">Segregación de Corredores
																				Complementarios en Lima y Callao</a>
																		</h3>

																	</div><!-- /slide-content -->
																</div>
															</div>
															<div class="swiper-slide swiper-slide-duplicate"
																data-swiper-slide-index="5" style="width: 386.667px;">
																<div class="slide-inner-wrap"
																	style="margin-left:10px;margin-right:10px;">
																	<div class="tf_rel slide-image">
																		<a href="http://imp.gob.pe/plan-met-2040-2/"
																			alt="Plan de Desarrollo Metropolitano de la Provincia de Lima"
																			target="_blank" rel="noopener">
																			<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
																				decoding="async" data-lazy="1"
																				data-tf-src="/assets/images/img/a7-1.png"
																				width="400" height="400"
																				alt="Plan de Desarrollo Metropolitano de la Provincia de Lima"
																				data-pagespeed-url-hash="1859759222"
																				onload="pagespeed.CriticalImages.checkImageForCriticality(this);"><noscript><img
																					data-tf-not-load
																					src="/assets/images/img/a7-1.png"
																					width="400" height="400"
																					alt="Plan de Desarrollo Metropolitano de la Provincia de Lima"
																					data-pagespeed-url-hash="4130299423"></noscript>
																		</a>
																	</div><!-- /slide-image -->

																	<div class="slide-content tb_text_wrap">

																		<h3 class="slide-title">
																			<a href="http://imp.gob.pe/plan-met-2040-2/"
																				target="_blank" rel="noopener">Plan de
																				Desarrollo Metropolitano de la Provincia
																				de Lima</a>
																		</h3>

																	</div><!-- /slide-content -->
																</div>
															</div>
															<div class="swiper-slide swiper-slide-duplicate"
																data-swiper-slide-index="6" style="width: 386.667px;">
																<div class="slide-inner-wrap"
																	style="margin-left:10px;margin-right:10px;">
																	<div class="tf_rel slide-image">
																		<a href="https://infocarbono.minam.gob.pe/annios-reportes-sectoriales/2016/"
																			alt="Reportes Anuales de Gases de Efecto Invernadero (RAGEI) de Energía"
																			target="_blank" rel="noopener">
																			<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
																				decoding="async" data-lazy="1"
																				data-tf-src="/assets/images/img/a5.png"
																				width="400" height="400"
																				alt="Reportes Anuales de Gases de Efecto Invernadero (RAGEI) de Energía"
																				data-pagespeed-url-hash="1859759222"
																				onload="pagespeed.CriticalImages.checkImageForCriticality(this);"><noscript><img
																					data-tf-not-load
																					src="/assets/images/img/a5.png"
																					width="400" height="400"
																					alt="Reportes Anuales de Gases de Efecto Invernadero (RAGEI) de Energía"
																					data-pagespeed-url-hash="188428389"></noscript>
																		</a>
																	</div><!-- /slide-image -->

																	<div class="slide-content tb_text_wrap">

																		<h3 class="slide-title">
																			<a href="https://infocarbono.minam.gob.pe/annios-reportes-sectoriales/2016/"
																				target="_blank" rel="noopener">Reportes
																				Anuales de Gases de Efecto Invernadero
																				(RAGEI) de Energía</a>
																		</h3>

																	</div><!-- /slide-content -->
																</div>
															</div>
															<!-- module slider image -->

															<div class="swiper-slide" data-swiper-slide-index="0"
																style="width: 386.667px;">
																<div class="slide-inner-wrap"
																	style="margin-left:10px;margin-right:10px;">
																	<div class="tf_rel slide-image">
																		<a href="https://www.metrolima2.com/inicio.php"
																			alt="Ejecución de la Línea 2 del Metro de Lima"
																			target="_blank" rel="noopener" class="">
																			<img src="/assets/images/img/a3.png"
																				decoding="async" width="400"
																				height="400"
																				alt="Ejecución de la Línea 2 del Metro de Lima"
																				data-pagespeed-url-hash="1859759222"
																				onload="pagespeed.CriticalImages.checkImageForCriticality(this);"><noscript><img
																					data-tf-not-load
																					src="/assets/images/img/a3.png"
																					width="400" height="400"
																					alt="Ejecución de la Línea 2 del Metro de Lima"
																					data-pagespeed-url-hash="3894395843"></noscript>
																		</a>
																	</div><!-- /slide-image -->

																	<div class="slide-content tb_text_wrap">

																		<h3 class="slide-title">
																			<a href="https://www.metrolima2.com/inicio.php"
																				target="_blank" rel="noopener">Ejecución
																				de la Línea 2 del Metro de Lima</a>
																		</h3>

																	</div><!-- /slide-content -->
																</div>
															</div>
															<div class="swiper-slide" data-swiper-slide-index="1"
																style="width: 386.667px;">
																<div class="slide-inner-wrap"
																	style="margin-left:10px;margin-right:10px;">
																	<div class="tf_rel slide-image">
																		<a href="https://aplicativos.munlima.gob.pe/ampliacion-metropolitano"
																			alt="Ampliación del Metropolitano"
																			target="_blank" rel="noopener" class="">
																			<img src="/assets/images/img/a2-1.png"
																				decoding="async" width="400"
																				height="400"
																				alt="Ampliación del Metropolitano"
																				data-pagespeed-url-hash="1859759222"
																				onload="pagespeed.CriticalImages.checkImageForCriticality(this);"><noscript><img
																					data-tf-not-load
																					src="/assets/images/img/a2-1.png"
																					width="400" height="400"
																					alt="Ampliación del Metropolitano"
																					data-pagespeed-url-hash="1857180386"></noscript>
																		</a>
																	</div><!-- /slide-image -->

																	<div class="slide-content tb_text_wrap">

																		<h3 class="slide-title">
																			<a href="https://aplicativos.munlima.gob.pe/ampliacion-metropolitano"
																				target="_blank"
																				rel="noopener">Ampliación del
																				Metropolitano</a>
																		</h3>

																	</div><!-- /slide-content -->
																</div>
															</div>
															<div class="swiper-slide swiper-slide-prev"
																data-swiper-slide-index="2" style="width: 386.667px;">
																<div class="slide-inner-wrap"
																	style="margin-left:10px;margin-right:10px;">
																	<div class="tf_rel slide-image">
																		<a href="https://www.descubrelima.pe/ciclovias/#ciclovias-emergentes"
																			alt="Ciclovías en Lima Metropolitana"
																			target="_blank" rel="noopener" class="">
																			<img src="/assets/images/img/a1.png"
																				decoding="async" width="400"
																				height="400"
																				alt="Ciclovías en Lima Metropolitana"
																				data-pagespeed-url-hash="1859759222"
																				onload="pagespeed.CriticalImages.checkImageForCriticality(this);"><noscript><img
																					data-tf-not-load
																					src="/assets/images/img/a1.png"
																					width="400" height="400"
																					alt="Ciclovías en Lima Metropolitana"
																					data-pagespeed-url-hash="3305396001"></noscript>
																		</a>
																	</div><!-- /slide-image -->

																	<div class="slide-content tb_text_wrap">

																		<h3 class="slide-title">
																			<a href="https://www.descubrelima.pe/ciclovias/#ciclovias-emergentes"
																				target="_blank" rel="noopener">Ciclovías
																				en Lima Metropolitana</a>
																		</h3>

																	</div><!-- /slide-content -->
																</div>
															</div>
															<div class="swiper-slide swiper-slide-active"
																data-swiper-slide-index="3" style="width: 386.667px;">
																<div class="slide-inner-wrap"
																	style="margin-left:10px;margin-right:10px;">
																	<div class="tf_rel slide-image">
																		<a href="https://www.atu.gob.pe/bus-patron-electrico/"
																			alt="Bus patrón en el SIT de Lima y Callao"
																			target="_blank" rel="noopener" class="">
																			<img src="/assets/images/img/a4.png"
																				decoding="async" width="400"
																				height="400"
																				alt="Bus patrón en el SIT de Lima y Callao"
																				data-pagespeed-url-hash="1859759222"
																				onload="pagespeed.CriticalImages.checkImageForCriticality(this);"><noscript><img
																					data-tf-not-load
																					src="/assets/images/img/a4.png"
																					width="400" height="400"
																					alt="Bus patrón en el SIT de Lima y Callao"
																					data-pagespeed-url-hash="4188895764"></noscript>
																		</a>
																	</div><!-- /slide-image -->

																	<div class="slide-content tb_text_wrap">

																		<h3 class="slide-title">
																			<a href="https://www.atu.gob.pe/bus-patron-electrico/"
																				target="_blank" rel="noopener">Bus
																				patrón en el SIT de Lima y Callao</a>
																		</h3>

																	</div><!-- /slide-content -->
																</div>
															</div>
															<div class="swiper-slide swiper-slide-next"
																data-swiper-slide-index="4" style="width: 386.667px;">
																<div class="slide-inner-wrap"
																	style="margin-left:10px;margin-right:10px;">
																	<div class="tf_rel slide-image">
																		<a href="https://www.atu.gob.pe/corredor-complementario/"
																			alt="Segregación de Corredores Complementarios en Lima y Callao"
																			target="_blank" rel="noopener" class="">
																			<img src="/assets/images/img/a6-1.png"
																				decoding="async" width="400"
																				height="400"
																				alt="Segregación de Corredores Complementarios en Lima y Callao"
																				data-pagespeed-url-hash="1859759222"
																				onload="pagespeed.CriticalImages.checkImageForCriticality(this);"><noscript><img
																					data-tf-not-load
																					src="/assets/images/img/a6-1.png"
																					width="400" height="400"
																					alt="Segregación de Corredores Complementarios en Lima y Callao"
																					data-pagespeed-url-hash="1098695238"></noscript>
																		</a>
																	</div><!-- /slide-image -->

																	<div class="slide-content tb_text_wrap">

																		<h3 class="slide-title">
																			<a href="https://www.atu.gob.pe/corredor-complementario/"
																				target="_blank"
																				rel="noopener">Segregación de Corredores
																				Complementarios en Lima y Callao</a>
																		</h3>

																	</div><!-- /slide-content -->
																</div>
															</div>
															<div class="swiper-slide" data-swiper-slide-index="5"
																style="width: 386.667px;">
																<div class="slide-inner-wrap"
																	style="margin-left:10px;margin-right:10px;">
																	<div class="tf_rel slide-image">
																		<a href="http://imp.gob.pe/plan-met-2040-2/"
																			alt="Plan de Desarrollo Metropolitano de la Provincia de Lima"
																			target="_blank" rel="noopener" class="">
																			<img src="/assets/images/img/a7-1.png"
																				decoding="async" width="400"
																				height="400"
																				alt="Plan de Desarrollo Metropolitano de la Provincia de Lima"
																				data-pagespeed-url-hash="1859759222"
																				onload="pagespeed.CriticalImages.checkImageForCriticality(this);"><noscript><img
																					data-tf-not-load
																					src="/assets/images/img/a7-1.png"
																					width="400" height="400"
																					alt="Plan de Desarrollo Metropolitano de la Provincia de Lima"
																					data-pagespeed-url-hash="4130299423"></noscript>
																		</a>
																	</div><!-- /slide-image -->

																	<div class="slide-content tb_text_wrap">

																		<h3 class="slide-title">
																			<a href="http://imp.gob.pe/plan-met-2040-2/"
																				target="_blank" rel="noopener">Plan de
																				Desarrollo Metropolitano de la Provincia
																				de Lima</a>
																		</h3>

																	</div><!-- /slide-content -->
																</div>
															</div>
															<div class="swiper-slide" data-swiper-slide-index="6"
																style="width: 386.667px;">
																<div class="slide-inner-wrap"
																	style="margin-left:10px;margin-right:10px;">
																	<div class="tf_rel slide-image">
																		<a href="https://infocarbono.minam.gob.pe/annios-reportes-sectoriales/2016/"
																			alt="Reportes Anuales de Gases de Efecto Invernadero (RAGEI) de Energía"
																			target="_blank" rel="noopener" class="">
																			<img src="/assets/images/img/a5.png"
																				decoding="async" width="400"
																				height="400"
																				alt="Reportes Anuales de Gases de Efecto Invernadero (RAGEI) de Energía"
																				data-pagespeed-url-hash="1859759222"
																				onload="pagespeed.CriticalImages.checkImageForCriticality(this);"><noscript><img
																					data-tf-not-load
																					src="/assets/images/img/a5.png"
																					width="400" height="400"
																					alt="Reportes Anuales de Gases de Efecto Invernadero (RAGEI) de Energía"
																					data-pagespeed-url-hash="188428389"></noscript>
																		</a>
																	</div><!-- /slide-image -->

																	<div class="slide-content tb_text_wrap">

																		<h3 class="slide-title">
																			<a href="https://infocarbono.minam.gob.pe/annios-reportes-sectoriales/2016/"
																				target="_blank" rel="noopener">Reportes
																				Anuales de Gases de Efecto Invernadero
																				(RAGEI) de Energía</a>
																		</h3>

																	</div><!-- /slide-content -->
																</div>
															</div>
															<div class="swiper-slide swiper-slide-duplicate"
																data-swiper-slide-index="0" style="width: 386.667px;">
																<div class="slide-inner-wrap"
																	style="margin-left:10px;margin-right:10px;">
																	<div class="tf_rel slide-image">
																		<a href="https://www.metrolima2.com/inicio.php"
																			alt="Ejecución de la Línea 2 del Metro de Lima"
																			target="_blank" rel="noopener" class="">
																			<img src="/assets/images/img/a3.png"
																				decoding="async" width="400"
																				height="400"
																				alt="Ejecución de la Línea 2 del Metro de Lima"
																				data-pagespeed-url-hash="1859759222"
																				onload="pagespeed.CriticalImages.checkImageForCriticality(this);"><noscript><img
																					data-tf-not-load
																					src="/assets/images/img/a3.png"
																					width="400" height="400"
																					alt="Ejecución de la Línea 2 del Metro de Lima"
																					data-pagespeed-url-hash="3894395843"></noscript>
																		</a>
																	</div><!-- /slide-image -->

																	<div class="slide-content tb_text_wrap">

																		<h3 class="slide-title">
																			<a href="https://www.metrolima2.com/inicio.php"
																				target="_blank" rel="noopener">Ejecución
																				de la Línea 2 del Metro de Lima</a>
																		</h3>

																	</div><!-- /slide-content -->
																</div>
															</div>
															<div class="swiper-slide swiper-slide-duplicate"
																data-swiper-slide-index="1" style="width: 386.667px;">
																<div class="slide-inner-wrap"
																	style="margin-left:10px;margin-right:10px;">
																	<div class="tf_rel slide-image">
																		<a href="https://aplicativos.munlima.gob.pe/ampliacion-metropolitano"
																			alt="Ampliación del Metropolitano"
																			target="_blank" rel="noopener" class="">
																			<img src="/assets/images/img/a2-1.png"
																				decoding="async" width="400"
																				height="400"
																				alt="Ampliación del Metropolitano"
																				data-pagespeed-url-hash="1859759222"
																				onload="pagespeed.CriticalImages.checkImageForCriticality(this);"><noscript><img
																					data-tf-not-load
																					src="/assets/images/img/a2-1.png"
																					width="400" height="400"
																					alt="Ampliación del Metropolitano"
																					data-pagespeed-url-hash="1857180386"></noscript>
																		</a>
																	</div><!-- /slide-image -->

																	<div class="slide-content tb_text_wrap">

																		<h3 class="slide-title">
																			<a href="https://aplicativos.munlima.gob.pe/ampliacion-metropolitano"
																				target="_blank"
																				rel="noopener">Ampliación del
																				Metropolitano</a>
																		</h3>

																	</div><!-- /slide-content -->
																</div>
															</div>
															<div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev"
																data-swiper-slide-index="2" style="width: 386.667px;">
																<div class="slide-inner-wrap"
																	style="margin-left:10px;margin-right:10px;">
																	<div class="tf_rel slide-image">
																		<a href="https://www.descubrelima.pe/ciclovias/#ciclovias-emergentes"
																			alt="Ciclovías en Lima Metropolitana"
																			target="_blank" rel="noopener" class="">
																			<img src="/assets/images/img/a1.png"
																				decoding="async" width="400"
																				height="400"
																				alt="Ciclovías en Lima Metropolitana"
																				data-pagespeed-url-hash="1859759222"
																				onload="pagespeed.CriticalImages.checkImageForCriticality(this);"><noscript><img
																					data-tf-not-load
																					src="/assets/images/img/a1.png"
																					width="400" height="400"
																					alt="Ciclovías en Lima Metropolitana"
																					data-pagespeed-url-hash="3305396001"></noscript>
																		</a>
																	</div><!-- /slide-image -->

																	<div class="slide-content tb_text_wrap">

																		<h3 class="slide-title">
																			<a href="https://www.descubrelima.pe/ciclovias/#ciclovias-emergentes"
																				target="_blank" rel="noopener">Ciclovías
																				en Lima Metropolitana</a>
																		</h3>

																	</div><!-- /slide-content -->
																</div>
															</div>
														</div>
														<span class="swiper-notification" aria-live="assertive"
															aria-atomic="true"></span>
													</div>
													<div class="tf_carousel_nav_wrap carousel-nav-wrap"><a
															class="tf_box tf_overflow carousel-prev"
															href="#" tabindex="0"
															role="button" aria-label="Previous slide"></a><a
															class="tf_box tf_overflow carousel-next"
															href="#" tabindex="0"
															role="button" aria-label="Next slide"></a>
														<div
															class="tf_clear tf_textc carousel-pager swiper-pagination-clickable tf_carousel_bullets">
															<a class="tf_carousel_bullet" tabindex="0" role="button"
																aria-label="Go to slide 1"></a><a
																class="tf_carousel_bullet" tabindex="0" role="button"
																aria-label="Go to slide 2"></a><a
																class="tf_carousel_bullet" tabindex="0" role="button"
																aria-label="Go to slide 3"></a><a
																class="tf_carousel_bullet selected" tabindex="0"
																role="button" aria-label="Go to slide 4"></a><a
																class="tf_carousel_bullet" tabindex="0" role="button"
																aria-label="Go to slide 5"></a><a
																class="tf_carousel_bullet" tabindex="0" role="button"
																aria-label="Go to slide 6"></a><a
																class="tf_carousel_bullet" tabindex="0" role="button"
																aria-label="Go to slide 7"></a></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- /row_inner -->
								</div>
								<!-- /module_row -->
								<!-- module_row -->

								
<!-- /module_row -->
<!-- module_row -->
<!--
<div data-css_id="tb_p2py412" data-lazy="1"
	class="themify_builder_row module_row builder-parallax-scrolling tb_p2py412 clearfix">
	<div class="row_inner col_align_top tf_box tf_w tf_rel">


		<div data-lazy="1" class="module_column tb-column col3-1 first tb_c52i414 tf_box">
			<div class="tb-column-inner tf_box tf_w">
				
				<div class="module module-image tb_7wpq414 rounded  image-center tf_mw" data-lazy="1">
					<div class="image-wrap tf_rel tf_mw">
						<img decoding="async" loading="lazy" src="/assets/images/img/Imagen1_105927M.jpg" width="100%"
							height="100%" class="wp-post-image wp-image-3994" title="logotipo" alt="logotipo"
							sizes="(max-width: 100%) 100%, 100%" style="margin-top: 0%;" />
						<div class="module module-text tb_2ohs415  repeat " data-lazy="1"
							style="padding-left: 0%;padding-right: 0%;">
							<div class="tb_text_wrap">
								<p>Ejecución de la Línea 2 del Metro de Lima.</p>
								<p><a href="https://www.metrolima2.com/inicio.php">Ver completo</a></p>
							</div>
						</div>
						<div class="module tf_mw module-divider tb_dci3415 solid  divider-custom divider-left"
							style="border-width: 5px;border-color: #bf0909;width: 100px;" data-lazy="1">
						</div>
					</div>
				</div>
			</div>
		</div>


		<div data-lazy="1" class="module_column tb-column col3-1 middle tb_tyhx416 tf_box">
			<div class="tb-column-inner tf_box tf_w">
				
				<div class="module module-image tb_eftb416 rounded  image-center tf_mw" data-lazy="1"
					style="padding-top: 0%; padding-bottom: 0%;background-color: rgba(250, 250, 250, 0.0001);">
					<div class="image-wrap tf_rel tf_mw">
						<img decoding="async" loading="lazy" src="/assets/images/img/Imagen2_nuevo.jpg" width="100%"
							class="wp-post-image wp-image-3993" title="LOGO_MUNI" alt="LOGO_MUNI"
							sizes="(max-width: 100%) 100%, 100%" />
						<div class="module module-text tb_gov3416  repeat " data-lazy="1"
							style="padding-left: 0%;padding-right: 0%;">
							<div class="tb_text_wrap">
								<p>Ampliación del Metropolitano.</p>
								<p><a href="https://aplicativos.munlima.gob.pe/ampliacion-metropolitano">Ver
										completo</a></p>
							</div>
						</div>
						
						<div class="module tf_mw module-divider tb_4yqk416 solid  divider-custom divider-left"
							style="border-width: 5px;border-color: #bf0909;width: 100px;" data-lazy="1">
						</div>
					</div>
				</div>
			</div>
		</div>


		<div data-lazy="1" class="module_column tb-column col3-1 last tb_5jmr417 tf_box">
			<div class="tb-column-inner tf_box tf_w">
				
				<div class="module module-image tb_5a6z417 rounded  image-center tf_mw" data-lazy="1">
					<div class="image-wrap tf_rel tf_mw">
						<img decoding="async" loading="lazy" src="/assets/images/img/Imagen3_nuevo.jpg" width="100%"
							height="100%" class="wp-post-image wp-image-3992" title="logo-DLpe-desdeCasa"
							alt="logo-DLpe-desdeCasa">
						<div class="module module-text tb_a5zv206  repeat " data-lazy="1"
							style="padding-left: 0%;padding-right: 0%;">
							<div class="tb_text_wrap">
								<p>Segregación de Corredores Complementarios en Lima y Callao.</p>
								<p><a href="https://www.descubrelima.pe/ciclovias/#ciclovias-emergentes">Ver
										completo</a></p>
							</div>
						</div>
						<div class="module tf_mw module-divider tb_sio4417 solid  divider-custom divider-left"
							style="border-width: 5px;border-color: #bf0909;width: 100px;" data-lazy="1">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
-->
<!-- /module_row -->
<!-- module_row -->

<!-- /module_row -->
<!-- module_row -->
<div data-css_id="tb_kwz6387" data-lazy="1" class="themify_builder_row module_row repeat tb_kwz6387 clearfix">
	<div class="row_inner col_align_top tf_box tf_w tf_rel">
		<div data-lazy="1" class="module_column tb-column col-full first tb_voi4388 tf_box">
			<div class="tb-column-inner tf_box tf_w">
				
				<div class="module module-text tb_32nw388  repeat " data-lazy="1">
					<div class="tb_text_wrap">
						<p>Información relevante sobre las actividades desarrolladas
							hacia transporte moderno y seguro</p>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
</div>
<!-- /module_row -->
<!-- module_row -->
<div data-css_id="tb_uc8p468" id="ultimas_noticias" data-lazy="1"
	class="themify_builder_row module_row fullwidth_row_container tb_uc8p468 clearfix">
	<div class="row_inner col_align_top tf_box tf_w tf_rel">
		<div data-lazy="1" class="module_column tb-column col-full first tb_fkzn471 tf_box">
			<div class="tb-column-inner tf_box tf_w">
				
				<div class="module module-text tb_j1vl495  repeat " data-lazy="1">
					<div class="tb_text_wrap">
						<p>Últimas Noticias</p>
					</div>
				</div>
				<!-- /module text -->
				<!-- module divider -->
				<div class="module tf_mw module-divider tb_tv89473 solid  divider-custom divider-left"
					style="border-width: 6px;border-color: #ff0000;margin-top: -30px;width: 150px;" data-lazy="1">
				</div>
				<!-- /module divider -->
			</div>
		</div>
	</div>
	<!-- /row_inner -->
</div>
<!-- /module_row -->
<!-- 
								<div data-css_id="tb_macr207" data-lazy="1"
									class="themify_builder_row module_row builder-parallax-scrolling tb_macr207 clearfix">
									<div class="row_inner col_align_top tf_box tf_w tf_rel">
										@foreach (var item in Model.Where(s => s.tipo == "noticia"))
{
																					<div data-lazy="1"
												class="module_column tb-column col3-1 first tb_fo3q208 tf_box">
																						<div class="tb-column-inner tf_box tf_w">
																							<div class="module module-image tb_ex5f560   image-top tf_mw"
														data-lazy="1">
																								<div class="image-wrap tf_rel tf_mw">
																									<img decoding="async" loading="lazy" data-lazy="1" width="645"
																height="363"
																src="@item.image"
																class="tf_svg_lazy wp-post-image wp-image-3907"
																title="@item.title" alt="@item.title"
																sizes="(max-width: 645px) 100vw, 645px" />
																								</div>
																							</div>
																							<div class="module module-text tb_soth866  repeat " data-lazy="1">
																								<div class="tb_text_wrap">
																									<p>@item.title</p>
																								</div>
																							</div>
																							<div class="module tf_mw module-divider tb_1vt7628 solid  divider-custom divider-left"
														style="border-width: 5px;border-color: #bf0909;width: 100px;"
														data-lazy="1">
																							</div>
																							<div class="module module-text tb_j35130   " data-lazy="1">
																								<div class="tb_text_wrap">
																									<p>@Html.Raw(@item.description)</p>
																									<p><strong><span style="color: #333333;"><a
																			style="color: #333333;"
																			href="@item.url">Ver más</a></span></strong></p>
																								</div>
																							</div>
																						</div>
																					</div>
}
									</div>
								</div>
								-->

<div data-css_id="tb_macr207" data-lazy="1"
	class="themify_builder_row module_row builder-parallax-scrolling tb_macr207 clearfix">
	<div class="row_inner col_align_top tf_box tf_w tf_rel">
		<div data-lazy="1" class="module_column tb-column col3-1 first tb_fo3q208 tf_box">
			<div class="tb-column-inner tf_box tf_w">
				<!-- module image -->
				<div class="module module-image tb_ex5f560   image-top tf_mw" data-lazy="1">
					<div class="image-wrap tf_rel tf_mw">
						<img decoding="async" loading="lazy" data-lazy="1" width="645" height="363"
							src="/assets/images/img/standard_Bicicleta.jpg"
							class="tf_svg_lazy wp-post-image wp-image-3907" title="standard_Bicicleta"
							alt="standard_Bicicleta" sizes="(max-width: 645px) 100vw, 645px" />
					</div>
					<!-- /image-wrap -->


				</div>
				<!-- /module image -->
				<!-- module text -->
				<div class="module module-text tb_soth866  repeat " data-lazy="1">
					<div class="tb_text_wrap">
						<p>MTC crea equipo de trabajo para reducir la emisión de gases
							contaminantes generados por el transporte urbano</p>
					</div>
				</div>
				<!-- /module text -->
				<!-- module divider -->
				<div class="module tf_mw module-divider tb_1vt7628 solid  divider-custom divider-left"
					style="border-width: 5px;border-color: #bf0909;width: 100px;" data-lazy="1">
				</div>
				<!-- /module divider -->
				<!-- module text -->
				<div class="module module-text tb_j35130   " data-lazy="1">
					<div class="tb_text_wrap">
						<p>‘Grupo de Trabajo Multisectorial de la NAMA Transporte Urbano
							Sostenible del Perú &#8211; NAMA TRANSPerú’ elaborará matriz
							de acciones que permitan la mitigación de los gases de
							efecto invernadero y contribuir hacia un transporte urbano
							ecoamigable. </p>
						<p><strong><span style="color: #333333;"><a style="color: #333333;"
										href="https://www.gob.pe/institucion/mtc/noticias/201454-mtc-crea-equipo-de-trabajo-para-reducir-la-emision-de-gases-contaminantes-generados-por-el-transporte-urbano">Ver
										más</a></span></strong></p>
					</div>
				</div>
				<!-- /module text -->
			</div>
		</div>
		<div data-lazy="1" class="module_column tb-column col3-1 middle tb_5pd6121 tf_box">
			<div class="tb-column-inner tf_box tf_w">
				<!-- module image -->
				<div class="module module-image tb_yejf217 rounded  image-top tf_mw" data-lazy="1">
					<div class="image-wrap tf_rel tf_mw">
						<a href="#">
							<img decoding="async" loading="lazy" data-lazy="1" width="645" height="363"
								src="/assets/images/img/standard_Transporte.jpg"
								class="tf_svg_lazy wp-post-image wp-image-3906" title="standard_Transporte"
								alt="standard_Transporte" sizes="(max-width: 645px) 100vw, 645px" /> </a>

					</div>
					<!-- /image-wrap -->


				</div>
				<!-- /module image -->
				<!-- module text -->
				<div class="module module-text tb_2qxp597  repeat " data-lazy="1">
					<div class="tb_text_wrap">
						<p>Grupo de trabajo multisectorial TRANSPerú busca mitigar los
							gases de efecto invernadero en el transporte público</p>
					</div>
				</div>
				<!-- /module text -->
				<!-- module divider -->
				<div class="module tf_mw module-divider tb_e7ip472 solid  divider-custom divider-left"
					style="border-width: 5px;border-color: #bf0909;width: 100px;" data-lazy="1">
				</div>
				<!-- /module divider -->
				<!-- module text -->
				<div class="module module-text tb_upe332   " data-lazy="1">
					<div class="tb_text_wrap">
						<p>El objetivo del MTC es trazar estrategias para reducir la
							contaminación y mejorar el desplazamiento de los ciudadanos.
						</p>
						<p><span style="color: #333333;"><strong><a style="color: #333333;"
										href="https://www.gob.pe/institucion/mtc/noticias/303315-grupo-de-trabajo-multisectorial-transperu-busca-mitigar-los-gases-de-efecto-invernadero-en-el-transporte-publico">Ver
										más</a></strong></span></p>
					</div>
				</div>
				<!-- /module text -->
			</div>
		</div>
		@* <div data-lazy="1"
			class="module_column tb-column col3-1 last tb_pvvt121 tf_box">
			<div class="tb-column-inner tf_box tf_w">
			<!-- module image -->
			<div class="module module-image tb_ryfi833 rounded image-top tf_mw"
			data-lazy="1">
			<div class="image-wrap tf_rel tf_mw">
			<img decoding="async" loading="lazy" data-lazy="1" width="645"
			height="363"
			src="/assets/images/standard_SALAVERRY_1..jpg"
			class="tf_svg_lazy wp-post-image wp-image-3909"
			title="standard_SALAVERRY_1." alt="standard_SALAVERRY_1."
			sizes="(max-width: 645px) 100vw, 645px" />
			</div>
			<!-- /image-wrap -->


			</div>
			<!-- /module image -->
			<!-- module text -->
			<div class="module module-text tb_79lw325 repeat " data-lazy="1">
			<div class="tb_text_wrap">
			<p>María Jara: “El puerto de Salaverry permitirá mantener el
			crecimiento sostenido en La Libertad”</p>
			</div>
			</div>
			<!-- /module text -->
			<!-- module divider -->
			<div class="module tf_mw module-divider tb_bwqm778 solid divider-custom divider-left"
			style="border-width: 5px;border-color: #bf0909;width: 100px;"
			data-lazy="1">
			</div>
			<!-- /module divider -->
			<!-- module text -->
			<div class="module module-text tb_fcgd591 " data-lazy="1">
			<div class="tb_text_wrap">
			<p>El terminal portuario de la región La Libertad iniciará este
			domingo la exportación de productos agrícolas a través de
			contenedores. <strong><span style="color: #333333;"><a
			style="color: #333333;"
			href="https://www.gob.pe/institucion/mtc/noticias/49613-maria-jara-el-puerto-de-salaverry-permitira-mantener-el-crecimiento-sostenido-en-la-libertad">Ver
			más</a></span></strong></p>
			</div>
			</div>
			<!-- /module text -->
			</div>
			</div> *@
	</div>
	<!-- /row_inner -->
</div>
<!-- module_row -->
<div data-css_id="tb_uh2u774" id="publicaciones" data-lazy="1"
	class="themify_builder_row module_row fullwidth_row_container tb_uh2u774 clearfix">
	<div class="row_inner col_align_top tf_box tf_w tf_rel">
		<div data-lazy="1" class="module_column tb-column col-full first tb_89rg774 tf_box">
			<div class="tb-column-inner tf_box tf_w">
				<!-- module text -->
				<div class="module module-text tb_0tt4472  repeat " data-lazy="1">
					<div class="tb_text_wrap">
						<p>Publicaciones</p>
					</div>
				</div>
				<!-- /module text -->
				<!-- module divider -->
				<div class="module tf_mw module-divider tb_6z9v963 solid  divider-custom divider-left"
					style="border-width: 6px;border-color: #ff0000;margin-top: -30px;width: 150px;" data-lazy="1">
				</div>
				<!-- /module divider -->
			</div>
		</div>
	</div>
	<!-- /row_inner -->
</div>
<!--
								<div data-css_id="tb_si1r373" data-lazy="1"
									class="themify_builder_row module_row builder-parallax-scrolling tb_si1r373 clearfix">
									<div class="row_inner col_align_top gutter-narrow tf_box tf_w tf_rel">
@foreach (var item in Model.Where(s => s.tipo == "publicacion"))
{
																					<div data-lazy="1"
												class="module_column tb-column col3-1 first tb_xymq374 tf_box">
																						<div class="tb-column-inner tf_box tf_w">
																							<div class="module module-image tb_pnep375 rounded  image-top auto_fullwidth tf_mw"
														data-lazy="1">
																								<div class="image-wrap tf_rel tf_mw">
																									<a href="@item.url">
																										<img decoding="async" loading="lazy" data-lazy="1"
																	width="1000" height="667"
																	src="@item.image"
																	class="tf_svg_lazy wp-post-image wp-image-3134"
																	title="cameron-venti-OMcBt38fGpQ-unsplash (1)"
																	alt="cameron-venti-OMcBt38fGpQ-unsplash (1)"
																	sizes="(max-width: 1000px) 100vw, 1000px" /> </a>
																								</div>
																							</div>
																							<div class="module module-text tb_lr67375  repeat " data-lazy="1">
																								<div class="tb_text_wrap">
																									<p>@Html.Raw(@item.description)
																										<a href="@item.url">Ver completo</a>
																									</p>
																								</div>
																							</div>
																							<div class="module tf_mw module-divider tb_2kxn375 solid  divider-custom divider-left"
														style="border-width: 5px;border-color: #bf0909;width: 100px;"
														data-lazy="1">
																							</div>
																						</div>
																					</div>
}
									</div>
								</div>
								-->
<div data-css_id="tb_si1r373" data-lazy="1"
	class="themify_builder_row module_row builder-parallax-scrolling tb_si1r373 clearfix">
	<div class="row_inner col_align_top gutter-narrow tf_box tf_w tf_rel">
		<div data-lazy="1" class="module_column tb-column col3-1 first tb_xymq374 tf_box">
			<div class="tb-column-inner tf_box tf_w">
				<!-- module image -->
				<div class="module module-image tb_pnep375 rounded  image-top auto_fullwidth tf_mw" data-lazy="1">
					<div class="image-wrap tf_rel tf_mw">
						<img decoding="async" loading="lazy" data-lazy="1" width="100%" height="100%"
							src="/assets/images/img/Imagen4.png" class="tf_svg_lazy wp-post-image wp-image-3134"
							title="cameron-venti-OMcBt38fGpQ-unsplash (1)" alt="cameron-venti-OMcBt38fGpQ-unsplash (1)"
							sizes="(max-width: 100%) 100%, 100%" />

						<div class="module module-text tb_lr67375  repeat " data-lazy="1">
							<div class="tb_text_wrap">
								<p>Guía para cuantificar las emisiones de Gases de Efecto Invernadero (GEI) y
									Contaminantes
									Climático de Vida Corta (CCVC) en el sector transportes <a
										href="https://www.nama-facility.org/projects/peru-sustainable-urban-transport-nama-support-project/">Ver
										completo</a></p>
							</div>
						</div>
						<!-- /module text -->
						<!-- module divider -->
						<div class="module tf_mw module-divider tb_2kxn375 solid  divider-custom divider-left"
							style="border-width: 5px;border-color: #bf0909;width: 100px;" data-lazy="1">
						</div>
					</div>
					<!-- /image-wrap -->


				</div>
				<!-- /module image -->
				<!-- module text -->

				<!-- /module divider -->
			</div>
		</div>
		<div data-lazy="1" class="module_column tb-column col3-1 middle tb_s1f2376 tf_box">
			<div class="tb-column-inner tf_box tf_w">
				<!-- module image -->
				<div class="module module-image tb_955s376 rounded  image-top auto_fullwidth tf_mw" data-lazy="1">
					<div class="image-wrap tf_rel tf_mw">
						<img decoding="async" loading="lazy" data-lazy="1" width="100%" height="100%"
							src="/assets/images/img/Imagen5.png" class="tf_svg_lazy wp-post-image wp-image-3136"
							title="Metropolitano-Lima-Bus-subsidio" alt="Metropolitano-Lima-Bus-subsidio"
							sizes="(max-width: 100%) 100%, 100%" />
					</div>
					<!-- /image-wrap -->


				</div>
				<!-- /module image -->
				<!-- module text -->
				<div class="module module-text tb_gh2k376  repeat " data-lazy="1">
					<div class="tb_text_wrap">
						<p>Manual para bicicletas del Perú. <a
								href="http://namasenergia.minem.gob.pe//es-pe/subpagina/namatransporte/noticia/minem-dialogo-con-stakeholders-sobre-proyecto-de-norma-para-vehiculos-electricos">Ver
								completo</a></p>
					</div>
				</div>
				<!-- /module text -->
				<!-- module divider -->
				<div class="module tf_mw module-divider tb_v189376 solid  divider-custom divider-left"
					style="border-width: 5px;border-color: #bf0909;width: 100px;" data-lazy="1">
				</div>
				<!-- /module divider -->
			</div>
		</div>
		@* <div data-lazy="1"
			class="module_column tb-column col3-1 last tb_27ub376 tf_box">
			<div class="tb-column-inner tf_box tf_w">
			<!-- module image -->
			<div class="module module-image tb_hvkd377 rounded image-top tf_mw"
			data-lazy="1">
			<div class="image-wrap tf_rel tf_mw">
			<img decoding="async" loading="lazy" data-lazy="1" width="1000"
			height="666"
			src="/assets/images/BusElectrico.jpg"
			class="tf_svg_lazy wp-post-image wp-image-3665"
			title="BusElectrico" alt="BusElectrico"
			sizes="(max-width: 1000px) 100vw, 1000px" />
			</div>
			<!-- /image-wrap -->


			</div>
			<!-- /module image -->
			<!-- module text -->
			<div class="module module-text tb_c0z0377 repeat " data-lazy="1">
			<div class="tb_text_wrap">
			<p>Primer bus eléctrico del sistema integrado de transporte ya
			circula en Lima &#8211; Perú. <a
			href="http://namasenergia.minem.gob.pe//es-pe/subpagina/namatransporte/noticia/primer-bus-electrico-del-sistema-integrado-de-transporte-ya-circula-en-lima">Ver
			completo</a></p>
			</div>
			</div>
			<!-- /module text -->
			<!-- module divider -->
			<div class="module tf_mw module-divider tb_uc0e377 solid divider-custom divider-left"
			style="border-width: 5px;border-color: #bf0909;width: 100px;"
			data-lazy="1">
			</div>
			<!-- /module divider -->
			</div>
			</div> *@
	</div>
	<!-- /row_inner -->
</div>
